<h1><%= @blog.title %></h1>

<p><%= @blog.body %></p>

<ul>
  <li><%= link_to "Edit", edit_blog_path(@blog) %></li>
  <li><%= button_to "Destroy", blog_path(@blog),
                  method: :delete %></li>
</ul>


<h2>Add a comment:</h2>
<%= form_with model: [ @blog, @blog.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
